{% extends "pages/template-base.html" %}
{% load static %}

{% block content %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <ul class="list-unstyled">
            <li>
                <br/>
                <h2 class="text-center">Welcome to FLOW</h2>
            </li>

            <li>
                <br/>
                <a class="btn btn-info btn-lg btn-block" href="{% url 'login' %}">LOGIN</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4"></div>
{% endblock %}
