{% extends "pages/template-base.html" %}
{% load static %}

{% block content %}
    <br/>
    <div class="col-md-5">
        {% if form.errors %}
        <div class="alert alert-danger text-center">
            <h5>Invalid <br> Username/Password</h5>
        </div>
        {% endif %}
    </div>
    
    <div class="col-md-2 text-center">
        <form id="form_login" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            
            <div class="row">
                <div class="col-md-12">
                    <input id="id_username" maxlength="50" name="username" 
                           type="text" placeholder="Username" autofocus='true' class="form-control form-input">
                </div>
            </div>
            <br/>
            
            <div class="row">
                <div class="col-md-12">
                    <input id="id_password" name="password" type="password" 
                           placeholder="Password" class="form-control form-input">
                </div>
            </div>

            <br/>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success btn-block">Enter</i></button>
                </div>
            </div>
            <br/>
        </form>
    </div>

    <div class="col-md-5">
    </div>
{% endblock %}
