{% extends "pages/template-base.html" %}
{% load static %}

{% block content %}
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <br/>
        <ul class="list-inline">
            <li><h4>MAIN</h4></li>
            <li>·</li>
            <li><a href="{% url 'userprofile:view' %}"><h4>userprofile</h4></a></li>
            <li>·</li>
            <li><a href="{% url 'logout' %}"><h4>logout</h4></a></li>
        </ul>
    </div>
{% endblock %}