{% extends "pages/template-base.html" %}
{% load static %}

{% block content %}
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <br/>
        <br/>
        <ul class="list-unstyled pull-right text-right">
            <li>
                <a class="btn btn-default btn-block" href="{% url 'main' %}">&nbsp;<i class="glyphicon glyphicon-chevron-left"></i>&nbsp;</a>
            </li>
            <li><br/></li>
            <li>
                <a class="btn btn-info btn-block" href="{% url 'userprofile:edit' %}">&nbsp;EDIT&nbsp;</a>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <br/>
        <br/>
        <dl class="dl-horizontal">
            <dt>Username</dt>
            <dd>{{ params.userprofile.userName }}</dd>

            <dt>Name</dt>
            <dd>{{ params.userprofile.firstName }} {{ params.userprofile.lastName }}</dd>

            <dt>Email</dt>
            <dd>{{ params.userprofile.email }}</dd>

            <dt>Sys Role</dt>
            <dd>{{ params.userprofile.sysRole }}</dd>
        </dl>
    </div>
{% endblock %}