{% extends "pages/template-base.html" %}
{% load static %}

{% block content %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <br/>
        <br/>
        <form id="form_edit_user" method="post" action="{% url 'userprofile:edit' %}">
            {% csrf_token %}

            {% for field in params.form %}
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <label>{{ field.name }}</label>
                    <input id="id_{{ field.name }}" maxlength="50" name="{{ field.name }}" 
                           type="text" placeholder="{{ field.initial }}" autofocus='true' class="form-control form-input">
                    {% if field.has_error %}
                    <p class="bg-danger">
                        {{ field.error }}
                    </p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            <br/>
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline pull-right">
                        <li><button type="submit" class="btn btn-success">Ok</i></button></li>
                        <li>&nbsp;</li>
                        <li><a class="btn btn-default" href="{% url 'userprofile:view' %}">Cancel</a></li>
                </div>
            </div>
            <br/>
        </form>
    </div>

    <div class="col-md-4">
    </div>
{% endblock %}
